
/* Body */
html {
  height: 90%;
}
body {
	min-height: 90%;
	background: #000000;
}

/* Terminal */
#terminal_container {
    display: block;

	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;

	overflow: hidden;
}

#output_container {
	width: 100%;

	overflow: auto;

	white-space: pre;

	font-size: 12pt;
	font-family: "Courier New";
}

#input_container {
	width: 100%;

	display: flex;
	align-items: center;

	white-space: pre;

	font-size: 12pt;
	font-family: "Courier New";
}

#input_title {
    color: #FFFFFF;
}

#input_text {
	outline: none;
	
	height: 14px;

	background: #000000;
	color: #FFFFFF;
	border-color: #000000;

	padding: 0px;
	margin: 0px;
	margin-left: -2px;

	font-size: 12pt;
	font-family: "Courier New";
}


/* Terminal output 
#terminal_output {
	margin-bottom:  20px;
	overflow-y:  scroll;
}


#terminal_input {
	background-color:  #000000;
	color:  white;
	font-size:  100%;
	font-family:  Courier New;
	border-color:  #000000
}


p {
	color:  white;
	margin:  0px;
	font-size:  100%;
	font-family:  Courier New
}
*/
/* DEBUG */
/* { border:  1px solid white; }
/* { padding:  0px; }
/* { margin:  0px; }